.col-left 
{
	padding-left: 55px;
	background-color: #ffa8B6;
}
.col-center 
{
	padding-left: 50px;
	background-color: #a28089;
}
.col-right 
{
	padding-left: 50px;
	background-color:#fbaf08;
}

.icon {
	padding-right: 15px;
	font-size: 1.8rem;
}
.sidebar-item {
	padding-top: 15px;

}

.buttons {
	border-radius: 13px;
	padding: 5px;
	border: none;
}
